
/* Variables */

$color-one: white;
$color-two: gold;

$font-titles: 'Bebas Neue', cursive;
$font-hand: 'Yellowtail', cursive;
$font-subtitle: 'Merriweather', serif;


/* Global */

body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: $font-titles;
}

/* Splash */

.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/5827776/pexels-photo-5827776.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  color: $color-one;
  font-size: 20px;

  a {
    color: $color-one;
  }

  .navigation {
    .row {
      justify-content: space-between;
    }
    .box {
      display: flex;
      align-items: center;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      font-family: $font-titles;
      display: inline-block;
      margin-left: 35px;
    }
    .logo {
      color: $color-two;
      font-family: $font-hand;
      font-style: italic;
    }
  }

  .main-title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .page-title {
      font-size: 70px;
      font-family: $font-titles;
      margin: 20px 0 40px 0;
    }
    .page-subtitle {
      font-size: 30px;
      font-family: $font-subtitle;
      margin: 0;
    }
  }

}
